[color]
  status = auto
  branch = auto
  log = auto
  commit = auto
  diff = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow
  local = green
  remote = cyan

[color "diff"]
  meta = yellow
  frag = cyan
  old = red
  new = green

[color "status"]
  changed = yellow

[user]
  name = Jefferson Stachelski
  email = jefferson.stachelski@gmail.com
  signingkey = C39C19AC

[alias]
  co = checkout
  st = status
  df = diff
  dc = diff --cached
  pr = pull --rebase
  pop = stash pop
  lg = log --graph --pretty=format:'%C(yellow)%h %Cblue%aN %Cgreen%ar %Cblue%G? %Creset%s'
  ls = log --stat
  cs = "!f() { git commit --author=\""${1}" <$(git config user.email)>\" -e -m \"$(cat ~/.git_commit_msg.txt | sed 's/DDD/\\[#'$2'\\]/g')\"; }; f"
  mg = "!f() { git merge "${1}" --no-ff --no-edit; }; f"
  # git cs jeff/ygor 6 -> example usage

[push]
  default = simple

[commit]
	gpgsign = true

[rebase]
	gpgsign = true
