[color]
  status = auto
  branch = auto
  log = auto
  commit = auto
  diff = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow
  local = green
  remote = cyan

[color "diff"]
  meta = yellow
  frag = cyan
  old = red
  new = green

[color "status"]
  changed = yellow

[user]
  name = Jeff Stachelski
  email = jeffhsta@riseup.net
  signingkey = C39C19AC

[alias]
  co = checkout
  st = status
  df = diff
  dc = diff --cached
  pr = pull --rebase
  pop = stash pop
  lg = log --graph --pretty=format:'%C(yellow)%h %Cblue%aN %Cgreen%ar %Cblue%G? %Creset%s'
  ls = log --stat

[push]
  default = simple

[commit]
	gpgsign = true

[rebase]
	gpgsign = true
